.contact {
    width: 100%;
    height: auto;
    padding: 63px 200px;
    display: flex;

    .map {
        width: 452px;
        height: 320px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);

        @include breakpoint('<=medium') {
            width: 100%;
            height: 320px;
        }
    }

    .direction {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 46px;

        .dates {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @include breakpoint('<=medium') {
                flex-direction: column;
                margin: auto;
                margin-top: 60px;
                margin-bottom: 60px;
            }

            .date {
                display: flex;
                flex-direction: row;
                width: 30%;

                img {
                    height: 36px;
                    width: auto;

                    @include breakpoint('<=large') {
                        height: 24px;
                    }
                }

                p {
                    font-size: 19px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.26;
                    letter-spacing: normal;
                    color: #1d1d26;
                    margin-left: 27px;

                    @include breakpoint('<=large') {
                        margin-left: 12px;
                    }
                }

                @include breakpoint('<=medium') {
                    width: 100%;
                }
            }
        }

        form {
            grid-template-columns: 50% 50%;
            display: grid;
            grid-template-rows: auto;
            grid-column-gap: 27px;
            grid-row-gap: 27px;
            grid-template-areas:
                "name mens"
                "email mens"
                "tlf env"
                "check check";

            .item1 {
                grid-area: name;
            }

            .item2 {
                grid-area: email;
            }

            .item3 {
                grid-area: tlf;
            }

            .item4 {
                grid-area: mens;
            }

            .item5 {
                grid-area: env;
            }

            .item6 {
                grid-area: check;
            }

            .button {
                padding: 0px;
                background-color: #6bb4df;

                button {
                    width: 100%;
                    border: none;
                    color: white !important;
                    box-shadow: none;
                }
            }

            @include breakpoint('<=large') {
                grid-template-columns: 45% 50%;
            }

            @include breakpoint('<=small') {
                grid-template-columns: 100%;
                display: grid;
                grid-template-areas:
                    "name"
                    "email"
                    "tlf"
                    "mens"
                    "env"
                    "check";
            }
        }

        @include breakpoint('<=medium') {
            margin-left: 0px;
        }
    }


    @include breakpoint('<=small') {
        display: grid;
        grid-template-columns: 100%;
        padding: 63px 10%;
    }

    @include breakpoint('<=large') {
        padding: 63px 50px;
    }

    @include breakpoint('<=medium') {
        flex-direction: column;
    }

}