.technologies{
    width: 100%;
    background-color: #7a0e7d;
    height: auto;
    padding: 103px 200px;
    p{
        margin: auto;
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        color: #d8d8d8;
        margin-bottom: 87px;
    }
    .logos{
        display: flex;
        justify-content: space-between;
        img{
            height: 112px;
            width: auto;
            @include breakpoint('<=small') {
                height: 82px;
            }
            @include breakpoint('<=xsmall') {
                height: 70px;
            }
        }

        @include breakpoint('<=small') {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-column-gap: 53px;
            grid-row-gap: 51px;
        }
        @include breakpoint('<=xsmall') {
            grid-column-gap: 0px;
        }
    }
    @include breakpoint('<=small') {
        padding: 40px 100px;
    }
    @include breakpoint('<=xsmall') {
        padding: 40px 50px;
    }
   
}